# PIX Mock Simulator

## Variables de Entorno

```env
NEXT_PUBLIC_API_URL=http://localhost:5000/mipit-adapter-pix
NEXT_PUBLIC_RAIL_NAME=PIX
PORT=3001
```

## Desarrollo

```bash
npm install
npm run dev
```

Puerto: **http://localhost:3001**

## Production

```bash
npm run build
npm start
```

## Docker

```bash
docker build -t mock-pix .
docker run -p 3001:3001 -e NEXT_PUBLIC_API_URL=http://mipit-adapter-pix:5001 mock-pix
```
